.header{
  background-color: red;
  color: white;
  height: 150px;
}

.menu{
  background-color: teal;
  color: black;
  height: 500px;
}

.content{
  background-color: darkgoldenrod;
  color: black;
  height: 500px;
}

.footer{
  background-color: silver;
  color: black;
  height: 150px;
}